html {
    --color-primary-700:rgb(172, 158, 37);
    --color-primary-600:rgb(197, 135, 0);
    --color-primary-500:rgb(197, 161, 0);
    --color-primary-300:rgb(228, 224, 25);
    --color-grey-100: #e6e0e0;
    --color-grey-400: rgb(144, 144, 144);
    --color-grey-900:rgb(61, 61, 61);
    --color-grey-1000:rgb(35,35,35);
}

#main-part {
    box-shadow: -6px -6px 8px rgba(255, 255, 255, 0.9), 5px 5px 8px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
}

#fill-info-menu {
    display: flex;
    justify-content: space-between;
    /* margin: 0 6rem; */
    background-color: var(--color-primary-500);
    padding: 0.5rem 0;
    border-radius: 6px 6px 0 0;
}

.menu-section {
    width: 25%;
    text-align: center;
    border-right: 1px solid black;
    cursor: pointer;
}

#show-result{
    text-align: center;
    width: 40%;
    margin: 6rem;
    margin-top: 1rem;
    border-radius: 8px;
    direction: rtl;
    
    
}

#new-form {
    padding: 2rem 0;
    text-align: center;
    width: 40%;
    background-color: #e6e0e0;
    height: 15rem;
    margin: 6rem;
    margin-top: 1rem;
    border-radius: 8px;
    direction: rtl;


}




#pre-next-step {
margin: 1rem auto;
text-align: center;
}

.next-step {
    margin: 0.5rem;
    padding: 0.2rem 0.5rem;
    width: 7%;

}
.next-step svg {
    display: block;
    margin: 0 auto;
}

button svg {
    width: 2rem;
    color: var(--color-primary-500);
}


#skill-input {
width: 40%;
margin: 0 auto;
 font-family: inherit;
 border-radius: 6px;
 display: block;
 border: none;
 border-right: 4px solid var(--color-primary-500);
 direction: rtl;   
 
}

#new-form input:focus {
    outline: 0;
    border: 2px solid var(--color-primary-500);
}


#skill-section {
    display: flex;
    justify-content: space-between;
    align-items:initial;


}
.skill-card {
    border-right: 6px solid var(--color-primary-500);
    box-shadow: -6px -6px 8px rgba(255, 255, 255, 0.9), 5px 5px 8px rgba(0, 0, 0, 0.07);
}


#skill-list {
    padding: 0;
    text-align: right;
    width: 93%;
    height: 100%;
    margin: 1rem;
}

.skill-input-percent {
    display: inline;
}
#number {
    background-color: var(--color-primary-500);
    text-align: center;
    width: 10%;
    border-radius: 0 4px 4px 0;
}

#result-modal {
    width: 95%;
    justify-content: space-between;
    display: flex;
    margin: 1rem auto;
    border-radius: 4px;
    box-shadow: -6px -6px 8px rgba(255, 255, 255, 0.9), 5px 5px 8px rgba(0, 0, 0, 0.07);
    
}
#result-content {
    margin-right: 1rem;
}

#each-result {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

#result-progress {
    margin-right: 0.5rem;
 
}

progress {
    height: 1.5rem;
}
#edit-box {
    text-align: left;
    align-items:center ;
    padding-left: 2%;
}

#edit-box svg {
    width: 2rem;
    padding-top: 20%;
    cursor: pointer;

}

.btn {
    font-weight: 800;
    border-radius: 4px;
    background: #e6e0e0;
    box-shadow: -6px -6px 8px rgba(255, 255, 255, 0.9), 5px 5px 8px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    border-color: transparent; 

}

#confirm-skill-btn {
    width: 30%;
    height: 2rem;
    margin: 2rem 0;
    font-family: inherit;


}

/* #confirm-skill-btn:hover {
    background-color: var(--color-primary-600);
    color: aliceblue;
    border-color: var(--color-grey-400);
    box-shadow: 0px 1px 8px rgba(35,35,35,0.2);
} */
