html {
    --color-primary-700:rgb(172, 158, 37);
    --color-primary-650:rgb(179, 125, 10);
    --color-primary-600:rgb(197, 135, 0);
    --color-primary-500:rgb(197, 161, 0);
    --color-primary-300:rgb(228, 224, 25);
    --color-grey-100: rgb(228, 228, 228);
    --color-grey-400: #909090;
    --color-grey-900:rgb(61, 61, 61);
    --color-grey-1000:rgb(35,35,35);
    color: var(--color-grey-1000);
    }

    body {
        background-color: var(--color-grey-400);
    }

    #home-image {
        width: 100%;
        height: auto;
    }

    #main-sections {
        height:fit-content;
        display: flex;
        align-items: center;
    }

    .main-section {
        width: 50%;
        height: 100%;;
    }
    #left-section {
    margin-top: 2rem;
    }

    #right-section {
        text-align: right;
        padding-right:20%;
        /* margin-top: 10%; */
        color: var(--color-primary-300);
        font-family: inherit;
    }
    #right-section h1 {
        text-shadow: 2px 2px 3px black;
    }

    #right-section h3 {
        text-shadow: 1px 1px 1px black;
    }

    #create-resume {
        width: 15rem;
        padding: 1rem 2rem;
        font-size: 1rem;
        font-weight: 700;
        font-family: inherit;
        background-color: var(--color-primary-600);
        border-radius: 6px;
        border: 1px transparent solid;
        box-shadow: 0px 2px 8px rgba(35,35,35,0.5);
    }

#create-resume:hover {
    background-color:var(--color-primary-650) ;
    color: var(--color-primary-300);
}

a {
        text-decoration: none;
        color: var(--color-grey-1000);
 }
a:hover {
    color: var(--color-primary-300);
}