html {
    --color-primary-700:rgb(172, 158, 37);
    --color-primary-600:rgb(197, 135, 0);
    --color-primary-500:rgb(197, 161, 0);
    --color-primary-300:rgb(228, 224, 25);
    --color-grey-100: rgb(228, 228, 228);
    --color-grey-400: rgb(144, 144, 144);
    --color-grey-900:rgb(61, 61, 61);
    --color-grey-1000:rgb(35,35,35);
    background-color: var(--color-grey-400);
   /* linear-gradient(150deg,var(--color-grey-100) ,var(--color-grey-400)); */
    color: var(--color-grey-1000);
    font-family: 'Scheherazade New', serif;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.7);
        align-items: center;
    }
    
    #profile-img {
        border-radius: 100%;
        width: 50%;
    }
    
    #left-hdr-side {
        display: flex;
        justify-content: start;
        width: 20%;
    }
    #left-hdr-side li {
        padding: 0;
        align-items: center;
        width: 25%;
    
    
    }
    #left-hdr-side li svg {
      width: 40%; 
      color:var(--color-primary-300); 
    }
    
    #right-hdr-side {
        display: flex;
        width: 50%;
    
        justify-content: end;
    }
    #right-hdr-side li {
        padding: 2%;
        width: auto;
        font-family: 'Scheherazade New', serif;
    }
    #right-hdr-side li a {
        text-decoration: none;
        color: var(--color-primary-300);
    }
    #right-hdr-side li a:hover {
        color:rgb(255, 253, 108);
    }
    
    ul {
        list-style: none;
    }
    