html {
--color-primary-500:rgb(234, 221, 33);
--color-grey-100: rgb(228, 228, 228);
--color-grey-400: rgb(144, 144, 144);
--color-grey-900:rgb(61, 61, 61);
}
ul {
    list-style: none;
}
main {
    width: 80%;
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(61, 61, 61, 0.2);
    margin: 0 auto;
    background-color: white;
}
#personal-infos {
    background-color: var(--color-primary-500);
    text-align: right;
    display: flex ;
    flex-direction: row-reverse;
    position: relative;
}

#personal-infos img {
    width:20%;
    border-radius: 5px;
    margin: 10px 20px;

}

#personal-infos ul {
    width: 20%;
    margin-top: 5%;
    position: absolute;
    bottom: 1.5rem;
    right: 15rem;

}

#personal-infos ul li {
    padding: 5%;

}
