html {
--color-primary-700:rgb(172, 158, 37);
--color-primary-500:rgb(197, 161, 0);
--color-grey-100: rgb(228, 228, 228);
--color-grey-400: rgb(144, 144, 144);
--color-grey-900:rgb(61, 61, 61);
background-color: var(--color-grey-100);
}
ul {
    list-style: none;
}
.headline {
    color: var(--color-primary-500);
    background-color: var(--color-grey-400);
    padding: 5px 15px;
    border-radius: 5px;
}
h2 {
    /* display: inline; */

    font-family: 'Scheherazade New', serif;
}
div {
    margin: 1rem 1rem;

}
main {
    width: 80%;
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(61, 61, 61, 0.2);
    margin: 0 auto;
    background-color: white;
    text-align: right;
    font-family: 'Noto Sans Arabic', sans-serif;
    overflow:hidden;
 
}
#personal-infos {
 
    font-family: 'Scheherazade New', serif;
    background-color: var(--color-primary-500);
    text-align: right;
    display: flex ;
    flex-direction: row-reverse;
    /* position: relative; */
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

#personal-infos img {
    width:20%;
    border-radius: 5px;
    margin: 10px 20px;

}

#personal-infos ul {
    width: 20%;
    margin-top: 5%;


}

#personal-infos ul li {
    padding: 5%;

}

#skills ul {
    display: grid;
    grid-template-columns: 80% 20%;
   
 
    
}
#skills ul li {
    text-align: right;
}
.skill-p {
    margin: 0 0 0 auto;
    height: 50%;
    border: 1px solid black;
    width: 20%;
}
#one {
    margin: 0;
    width: 80%;
    height: 100%;
    background-color: var(--color-primary-700);
}
#two {
    margin: 0;
    width: 50%;
    height: 100%;
    background-color: var(--color-primary-700);
}
#three {
    margin: 0;
    width: 90%;
    height: 100%;
    background-color:var(--color-primary-700);
}
#four {
    margin: 0;
    width: 30%;
    height: 100%;
    background-color: var(--color-primary-700);
}
.grade {
    color: var(--color-grey-400);
}
footer {
    background-color: var(--color-primary-500);
    padding:0.5rem;
    text-align: center;
    font-weight: 600;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}